<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/game.css" />
	</head>
	<body>
		<header>
			<form id="login">
				<input type="text" name="pseudo" placeholder="Pseudo" minlength="2" maxlength="20" required />
				<input type="password" name="password" placeholder="Mot de passe (optionnel)" />
				<button type="button">Se connecter</button>
			</form>
			<p id="loginError"></p>
		</header>
		<section>
			<canvas>Your browser does not support the HTML Canvas Tag.</canvas>
		</section>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/lib/exportLib.js"></script>
		<script type="text/javascript" src="/js/src/constants.js"></script>
		<script type="text/javascript" src="/js/class/Form.js"></script>
		<script type="text/javascript" src="/js/class/Hand.js"></script>
		<script type="text/javascript" src="/js/class/SocketManager.js"></script>
		<script type="text/javascript" src="/js/class/Game.js"></script>
		<script type="text/javascript" src="/js/src/main.js"></script>
	</body>
</html>