<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/game.css" />
		<link rel="stylesheet" type="text/css" href="/css/animations.css" />
	</head>
	<body>
		<header>
			<h1>president.io</h1>
			<h2></h2>
			<form id="login">
				<input type="text" name="pseudo" placeholder="Nickname" minlength="2" maxlength="15" required />
				<input type="password" name="password" placeholder="Password (private rooms only)" />
				<button type="button">Connect me !</button>
			</form>
			<p id="loginError"></p>
		</header>
		<section>
			<canvas>Your browser does not support the HTML Canvas Tag.</canvas>
			<article id="chat">
				<div id="chatHeader">
					
				</div>
				<div id="textBox">
					<input id="chatInput" type="text" name="chatInput" placeholder="Type your message here" maxlength="100" />
				</div>
				<button id="hiddenMiddleButton"></button>
			</article>
			<article id="scorePanel">
				<p>Test !</p>
			</article>
		</section>
		<footer>
			<form>
				<label for="musicVolume">♫ ♪</label>
				<input type="range" id="musicVolume" name="musicVolume" min="0" max="100" value="100" />
			</form>
		</footer>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/lib/exportLib.js"></script>
		<script type="text/javascript" src="/js/src/constants.js"></script>
		<script type="text/javascript" src="/js/src/showScorePanel.js"></script>
		<script type="text/javascript" src="/js/class/CardUtils.js"></script>
		<script type="text/javascript" src="/js/class/Chat.js"></script>
		<script type="text/javascript" src="/js/class/Form.js"></script>
		<script type="text/javascript" src="/js/class/Hand.js"></script>
		<script type="text/javascript" src="/js/class/Middle.js"></script>
		<script type="text/javascript" src="/js/class/MusicPlayer.js"></script>
		<script type="text/javascript" src="/js/class/SocketManager.js"></script>
		<script type="text/javascript" src="/js/class/Timer.js"></script>
		<script type="text/javascript" src="/js/class/UserBox.js"></script>
		<script type="text/javascript" src="/js/class/Game.js"></script>
		<script type="text/javascript" src="/js/src/main.js"></script>
	</body>
</html>