<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body>
		<header>
			<h1>president.io</h1>
		</header>
		<section>
			<form method="post" action="/create">
				<input type="text" name="name" placeholder="Room name" pattern="[a-zA-Z\d]{2,20}" title="Only letters and digits are supported." required />
				<input type="password" name="password" placeholder="Password (for privates rooms only)" minlength="2" />
				<input type="submit" value="Créer" />
			</form>
		</section>
	</body>
</html>