<!DOCTYPE html>
<html>
	<head>
		<title>Room not found - president.io</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<style type="text/css">
			body {
				color: white;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<header>
			<h2>No public room found :(</h2>
		</header>
		<section>
			<p>This error means there is nobody in rooms. To make it doesn't happens again, you can share the game to your friends ;) <br />
			<a href="/">I did it ! (Back to home)</a></p>
		</section>
	</body>
</html>