<!DOCTYPE html>
<html>
	<head>
		<title>president.io</title>
		<meta charset="utf-8" />
		<meta name="description" content="An online version of the president/daifugo card game." />
		<meta name="author" content="Alexandre Cochet, known as Alexandre Volts" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/page.css" />
		<link rel="stylesheet" type="text/css" href="/css/footer.css" />
	</head>
	<body>
		<header>
			<h1>President.io - Rules </h1>
		</header>
		<section>
			<article>
				<h2>Concept</h2>
				<p>President/Daifugo is a strategy card game where the goal of the game is to get rid of all your card the fastest you can.</p>
				<p>A president game is divided into rounds (between 3 and 10 here), each round is also divided into turns. Cards are distributed randomly when a round begins, they will be automatically sorted by strength in your hand (2 is the strongest card). <br />
				If it is the first round, a random player is choosen to start the turn, else, the <em>looser</em> starts. Once he played, it is impossible to change combination until a turn ends.
				Your cards will shine and a message will inform you when it is your turn, then, you can overbid or pass. If you overbid, you will have to play the same combination than your opponents but with stronger cards. A player wins a turn when he plays a 2, or when all players passed their turn (except him). </p>
				<p>Win a turn gives a non-negligible and strategic advantage: the player who won can choose the played combination for the next turn.</p>
			</article>
			<article>
				<h2>Combinations</h2>
				<p>In order to get rid of your cards, you will have to create combinations with your cards, here are all possibles combinations:</p>
				<ul>
					<li><em>Single card:</em> Easy to counter but necesary when you can't create combinations.</li>
					<li><em>Pair:</em> Same as a single card, but a bit more difficult to counter.</li>
					<li><em>Three of a kind:</em> One of the most efficient combination of the game. Really difficult to counter.</li>
					<li><em>Square:</em> The most difficult combination to counter, it will also produce a <em>Revolution</em> (Cards strengths are reversed, the weakest card become the strongest, and vice versa).</li>
					<li><em>3 and 4 multicolored cards sequence:</em> In this version of the game, cards sequences are multicolored, which gives a new aspect to the game: Sometimes you will have to break <em>pair</em> or <em>three of a kind</em> to make a sequence, they are easy to counter. Despite this, it is the easiest way to get rid of your cards quickly, more there are players, more they are difficult to counter.</li>
				</ul>
			</article>
			<article>
				<h2>Roles</h2>
				<p>When a player ends, he will get a role, depending on its position. If he is the first, he becomes the <em>president</em>, if he is the last, he becomes the <em>looser</em>. <br />
					The <em>looser</em> has no choices: He must give his best cards to the <em>president</em>, the <em>president</em> can give the cards he wants to the <em>looser</em>. The <em>neutral</em> keeps his cards. The number of cards to give depends on how many players there are in the game:</p>
				<ul>
					<li><em>3 players:</em> president: 1, neutral: 0, looser: 1</li>
					<li><em>4 players:</em> president: 2, vice-president: 1, vice-looser: 1, looser: 2</li>
					<li><em>5 players:</em> president: 2, vice-president: 1, neutral: 0, vice-looser: 1, looser: 2</li>
					<li><em>6 players to 8 players:</em> president: 3, vice-president: 2, vice-vice-president: 1, neutral: 0, vice-vice-looser: 1, vice-looser: 2, looser: 3</li>
				</ul>
			</article>
			<article>
				<h2>Score</h2>
				<p>Each card in the hand of each player is worth a point. Your score is computed when you got rid of all your cards, by computing the sum of all cards in the hand of the others players.</p>
			</article>
			<p><a href="/">Home</a></p>
		</section>
	</body>
</html>