section {
	display: flex;
	flex-direction: row-reverse;
}
#chat {
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: -5px 0px 10px black;
	color: white;
	min-width: 200px;
	width: 20%;
}
.userBox {
	display: flex;
	justify-content: space-around;
}
.userBox * {
	margin: 0;
	padding: 0;
}
#textBox {
	overflow-y: auto;
}