section {
	display: flex;
	flex-direction: row-reverse;
}
#chat {
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: -5px 0px 10px black;
	color: white;
	min-width: 200px;
	width: 20%;
}
#chat img {
	width: 20px;
	height: 30px;
	margin-bottom: 5px;
}
.userBox, .sectionBox {
	display: flex;
	justify-content: space-around;
}
.userBox * {
	margin: 0;
	padding: 0;
}
.sectionBox {
	border-bottom: 1px dotted white;
	margin-bottom: 5px;
}
#textBox {
	overflow-y: auto;
}