section {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
	color: white;
}
section {
	text-align: center;
}
article {
	padding: 10px;
	width: 48%;
	min-width: 400px;
	transition: background-color 0.5s;
}
article p {
	font-size: 20px;
}
article form {
	width: 100%;
}
article:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
#advancedOptions {
	position: absolute;
	margin-top: -90px;
	display: flex;
	flex-direction: column;
	height: 0px;
	opacity: 0;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: height 0.4s, opacity 0.4s;
}
button:hover + #advancedOptions, #advancedOptions:hover {
	padding: 10px 30px;
	opacity: 1;
	height: 160px;
}
#advancedOptions label {
	margin-right: 100px;
}
button:hover + #advancedOptions div, 
#advancedOptions:hover div {
	display: flex;
}
#advancedOptions div {
	display: none;
	justify-content: space-between;
	align-items: center;
}
input[type="checkbox"] {
	display: inline;
	min-width: auto;
	width: auto;
	transform: scale(1.2);
}
input[type="number"] {
	min-width: 50px;
	width: 50px;
}
input[type="number"]:hover {
	width: 50px;
}