section {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
	color: white;
}
section {
	text-align: center;
}
article {
	width: 48%;
	min-width: 400px;
	transition: background-color 0.5s;
	padding: 10px;
}
article p {
	font-size: 20px;
}
article form {
	width: 100%;
}
article:hover {
	background-color: rgba(0, 0, 0, 0.05);
}