section {
	margin: auto;
	padding: 25px;
	width: 75%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 19px;
}
em {
	color: red;
	font-size: 19px;
}
li {
	font-size: 17px;
}
p a {
	display: block;
	text-align: center;
	font-size: 25px;
}